server {
    listen ${LISTEN_PORT};
    index index.html;
    error_log  /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;

    location ~* / {
        proxy_pass ${BACKEND_LOCATION};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}
