<div class="card-container">
  <md-card>
    <img class="logo" md-card-image src="logos/kubernetes/logo_with_border.svg" />
    <md-card-title>kubernetes</md-card-title>
    <md-card-content>
      <a href="https://k8s.io">Kubernetes</a> enables deployment automation, scaling, service discovery and more.
    </md-card-content>
  </md-card>

  <md-card>
    <img class="logo" md-card-image src="logos/dotnet/dotnet_logo.png" />
    <md-card-title>.NET Core</md-card-title>
    <md-card-content>
      <a href="https://dotnet.github.io/">.NET Core</a> and <a href="https://docs.asp.net/en/latest/">AspNetCore</a> power the backend API.
      <br/>
      <a href="">Stackexchange.Redis</a> and <a href="">npgqsl</a> are used as well.
    </md-card-content>
  </md-card>

  <md-card>
    <img class="logo" md-card-image src="logos/angular/angular.png" />
    <md-card-title>Angular</md-card-title>
    <md-card-content>
      <a href="https://dotnet.github.io/">Angular2</a> powers the frontend.
    </md-card-content>
  </md-card>
</div>